# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Checkov output
results-*.sarif

# OS
.DS_Store
Thumbs.db
